.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #cccccc;
    min-height: 100vh;
    padding: 20px; 
}

.card {
    background-color: #FFFFFF;
    height: 200px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 15px;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    margin: 8px;
}

 .healthy {
    background-color: green;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5px;
    color: #fafafa;
}

.error {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5px;
    color: #fafafa;
}

.outage {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
}

.errorDetail {
    color: rgb(255, 0, 0);
}